body{
    background: #607D8B;
}
header{
    background: #455A64;
}

/*Para Plugin animated_cicles_spinner*/
#contenedor-loader{
    position: fixed;
    z-index: 25000;
    background: rgb(255, 255, 255);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
