#loader{
    position: fixed;
    z-index: 25000;
    background: rgb(226, 232, 227);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .3s ease;
}
#loader::before{
    content: "";
    position: absolute;
    border: 2px solid rgb(50, 150, 176);
    width: 100px;
    height: 100px;    
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176,0);
    border-top: 2px solid rgba(50, 150, 176,0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);      
}

@keyframes rotarload {
  0%   {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

#loader::after {
    content: "";
    position: absolute;
    border: 2px solid rgba(50, 150, 176,.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s ease-out infinite;
    transform: rotate(0deg);
}